<ion-header class="top-header">
  <ion-toolbar>
    <div class="header-center">
      <!-- Botón menú desplegable -->
      <button class="menu-toggle" (click)="toggleMenu()">
        <ion-icon [name]="menuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </button>

      <!-- Logo -->
      <img src="/assets/img/logo1.png" alt="Logo" class="header-logo" />
      <span class="header-text">CHUCK E. CHEESE</span>
    </div>
  </ion-toolbar>

  <!-- Menú desplegable -->
  <div class="dropdown-menu" *ngIf="menuOpen">
    <div class="menu-row">
      <span class="menu-link">Soporte</span>
      <span class="divider">|</span>
      <span class="menu-link">Ayuda</span>
    </div>

    <!-- 🔹 Aquí reemplazamos "Idioma" por un botón Perfil -->
    <div class="menu-row">
      <label class="menu-label perfil-link" (click)="goToPerfil()">Perfil</label>
    </div>

    <div class="menu-row social-icons">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="mail-outline"></ion-icon>
    </div>
  </div>
</ion-header>

<!-- Overlay oscuro -->
<div class="overlay-dark" *ngIf="menuOpen" (click)="toggleMenu()"></div>

<ion-content [fullscreen]="true" class="main-content">
  <div class="background-overlay"></div>

  <div class="main-container">
    <div class="speech-bubble">
      <p>Para comenzar,<br>añade tu tarjeta</p>
    </div>

    <div class="button-container">
      <ion-button expand="block" color="danger" shape="round" size="large" [routerLink]="['/card']">
        AÑADIR TARJETA
      </ion-button>
    </div>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer class="footer-menu">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col class="tab-icon" [routerLink]="['/rewards']">
          <img src="/assets/img/icon-rewards.png" alt="Rewards" class="tab-img" />
          <ion-label>Rewards</ion-label>
        </ion-col>
        <ion-col class="tab-icon" [routerLink]="['/food']">
          <img src="/assets/img/icon-food.png" alt="Menú" class="tab-img" />
          <ion-label>Cumpleaños</ion-label>
        </ion-col>
        <ion-col class="tab-icon active" [routerLink]="['/menu']">
          <img src="/assets/img/icon-home.png" alt="Inicio" class="tab-img" />
          <ion-label>Inicio</ion-label>
        </ion-col>
        <ion-col class="tab-icon" [routerLink]="['/games']">
          <img src="/assets/img/icon-games.png" alt="Juegos" class="tab-img" />
          <ion-label>Juegos</ion-label>
        </ion-col>
        <ion-col class="tab-icon" [routerLink]="['/map']">
          <img src="/assets/img/icon-map.png" alt="Cerca" class="tab-img" />
          <ion-label>Cerca</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
