<ion-content [fullscreen]="true" class="rewards-content">
  <div class="overlay"></div>

  <!-- 🔹 Header -->
  <div class="header">
    <img src="/assets/img/logo1.png" alt="Logo" class="logo" />
    <h2 class="titulo">Menú Chuck E. Cheese 🍕</h2>
  </div>

  <!-- 🔹 Productos -->
  <div class="menu-container">
    <div class="menu-card" *ngFor="let p of productos">
      <img [src]="p.imagen" alt="{{ p.nombre }}" class="menu-img" />
      <div class="menu-info">
        <h3>{{ p.nombre }}</h3>
        <p>{{ p.descripcion }}</p>
        <div class="menu-footer">
          <span class="precio">\${{ p.precio | number:'1.0-0' }}</span>
          <ion-button size="small" class="btn-agregar" (click)="agregarAlCarrito(p)">
            Añadir
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <!-- 🔹 Carrito flotante -->
  <div class="carrito" *ngIf="carrito.length > 0">
    <h3>🛒 Carrito</h3>
    <ul>
      <li *ngFor="let item of carrito">{{ item.nombre }} - \${{ item.precio | number:'1.0-0' }}</li>
    </ul>

    <div class="total">
      Total: <strong>\${{ total | number:'1.0-0' }}</strong>
    </div>

    <ion-button expand="block" class="btn-pagar" (click)="pagar()">
      Pagar ahora
    </ion-button>
  </div>
</ion-content>
